* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.SignUpPage {
    height: 100vh;
    width: 100vw;
    background-color: rgb(248, 252, 255);
}

#sign-up-main-container {
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#sign-up-info-box {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(235, 240, 248);
    border-radius: 5%;
}

#sign-up-rotating-planet {
    width: 90%;
    margin: 12vh 1vw;

    animation-name: rotation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

#sign-up-form-box {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5%;
    background-color: rgb(250, 237, 255);
    border-radius: 5%;
}

.centered {
    align-items: center;
    text-align: center;
}

#sign-up-welcome-message {
    font-size: 1.4em;
    margin-bottom: 10vh;
}

#sign-up-redirect-message {
    font-size: 0.85rem;
    margin-top: 1vh;
}

#sign-in-form-link {
    text-decoration: none;
    margin-right: 6px;
    color: rgb(93, 110, 239);
}

.sign-up-field-box {
    margin-bottom: 2vh;
}

.sign-up-field-error-message {
    color: rgb(244, 69, 69);
    font-weight: bold;
    margin-bottom: 1vh;
}

#sign-up-button {
    width: 100%;
    
}
