.user-page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(243, 245, 247);
}

.active-user-page {
    position:absolute;
    margin: 100px;
    border-radius: 30px;
    width: 60%;
    height: 40%;
    padding: 40px;
    background-color: rgb(235, 240, 248);
}

.username-text {
    font-size: 100px;
    text-align: center;
}